@model cours1test.Models.Chapter

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="model fade" id="addChapter">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="addChapterLabel">Add Chapter Label</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="AddChapter">
                    <div class="form-group">
                        <label asp-for="CName"></label>
                        <input asp-for="CName" class="form-control" />
                        <span asp-validation-for="CName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CText"></label>
                        <input asp-for="CText" class="form-control" />
                        <span asp-validation-for="CText" class="text-danger"></span>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Звкрыть</button>
                <button type="button" class="btn btn-primary" data-save="modal">Добавить</button>
            </div>

        </div>
    </div>
</div>
