@model cours1test.Models.Comment 
 
@{ Layout = null; }


<h2>Добавить комментарий</h2>




<div class="row">
    <div class="col-md-12">
        <form method="post" asp-controller="Fanfic" asp-action="AddComment">

            <div class="mb-3">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @rows = 20 })
            </div>
            <input asp-for="FanficId" value="@Model.FanficId" />
            <div class="mb-3">
                <input type="submit" value="Сохранить" class="btn btn btn-primary mb-3" />
            </div>

        </form>
    </div>
</div> 