@model cours1test.ViewModels.AddFanficModel

 

<h2>Добавить фанфик</h2>

<div id="PlaceHolderHere"></div>
 

<form method="post" asp-controller="Fanfic" asp-action="Create">

    <div>
        <label asp-for="Title">Название Фанфика</label><br />
        <input type="text" asp-for="Title" />
    </div>
    <div>
        <label asp-for="Description">Краткое описание фанфика</label><br />
        <input type="text" asp-for="Description" />
    </div>


    <div class="form-group">
        <label class="control-label col-md-2">
            Выберите фандом:
        </label>

        <div class="col-md-10" asp-for="Fandom">
            @*@Html.DropDownListFor(model => model.Fandom, ViewBag.FandomList as SelectList, "-- Выберите фандом --")*@

            @Html.DropDownList("Fandom", (IEnumerable<SelectListItem>)ViewData["DBMyfandom"])
        </div>

    </div>

    <div>
        @*<label asp-for="FText">Введите текст фанфика</label><br />
        <input type="text" asp-for="FText" />*@
    </div>
     

     
     
    <div>
        <input type="submit" value="Сохранить" />
    </div>

</form>
 
