@model cours1test.Models.Fanfic

    <link rel="stylesheet" href="~/css/site.css" />

    <h2>Редактировать книгу</h2>

    <div id="PlaceHolderHere"></div>


    <form method="post" asp-controller="Fanfic" asp-action="EditFanfic">

        <div>
            <label class="text-light" asp-for="Title">Название книги</label><br />
            <input type="text" asp-for="Title" />
        </div>

        <div>
            <label class="text-light" asp-for="Description">Краткое описание книги</label><br />
            <div class="mb-3">
                @Html.TextAreaFor(model => model.Description, new { @class = "", @rows = 10 })
            </div>
        </div>



        <div class="form-group">
            <label class="text-light" class="control-label ">
                Выберите фандом:
            </label>

            <div class="fandom-input">
                @Html.DropDownListFor(model => model.FandomName, (IEnumerable<SelectListItem>)ViewBag.Fandom, new { htmlAttributes = new { @class = "" } })
            </div>
        </div>





        <div>
            <input type="submit" value="Сохранить изменения" />
        </div>


    </form>
    <br />

    <div id="view-all">
        @await Html.PartialAsync("_ViewAll", Model)
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>



    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }