@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8" />
            <title>Роли</title>
            <link href="../media/style.css" rel="stylesheet">
        </head>
    <body>
        <h2>Список ролей</h2>
        <table class="table">

            @foreach (var role in Model)
            {
                <tr>
                    <td class="text-dark">@role.Name</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        <a asp-action="Create">Добавить роль</a>
        <a asp-action="UserList">Список пользователей</a>

     </body>
</html>
